.post-content {
    display:flex;
    bottom:0;
    left:auto 0;
    right:auto 0;
    justify-content:center;
    position: absolute;
    color:darkgray;
}

.thumbnail{
    display:flex;
    position:relative;
    justify-content:center;

}

body {
    background: #ccffcc
}

h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .03em;
    font-size: 60pt;
    word-spacing: 0.1em;
}

h2 {
    font-family: 'Poiret One', cursive;
}

ul {
    font-family: 'Poiret One', cursive;
    font-size: 24px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

label {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

h3 {
    font-family: 'Poiret One', cursive;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}