body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSS3GWgYHJ22cBB2gh64H_PjL7hc5SL8V4wcbcId-kHBONDNdO&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .03em;
    font-size: 60pt;
    word-spacing: 0.1em;
}

h2 {
    font-family: 'Poiret One', cursive;
}

ul {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Lato', sans-serif;
}

button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 }

.post-content {
    display:flex;
    background: none repeat scroll 0 0 #FFffff;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: -54px;
    justify-content:center;
    position: relative;
}

.wrapper {
    text-align:center;
}

.thumbnail{
    display:flex;
    position:relative;
    justify-content:center;
    width: 100% \9;
}

.portfolio {
    font-family: 'Lato', sans-serif;
}